---
layout: default
title: Homepage
carousel-1:
    - image: /uploads/food-1.png
      alt: food
    - image: /uploads/2-tree-plus-sunset.png
      alt: trees and sun function
    - image: /uploads/dive.png
      alt: div
carousel-2:
    -   image: /uploads/2-tree-plus-sunset.png
        alt: trees and sun function
    -   image: /uploads/food-1.png
        alt: food
    -   image: /uploads/dive.png
        alt: div
sleep-grid:
    -   heading: Ocean View Room
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/food-1.png
        description: A spacious room with space to explore and a private bathroom. 
    -   heading: Ocean View Room
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/food-1.png
        description: A spacious room with space to explore and a private bathroom. 
    -   heading: Ocean View Room
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/food-1.png
        description: A spacious room with space to explore and a private bathroom. 
    -   heading: Ocean View Room
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/food-1.png
        description: A spacious room with space to explore and a private bathroom. 

---


<section class="bg-blue">
        <div class="max-w-screen-xl mx-auto relative">
            <video autoplay muted loop>
                <source src="test-50k-kbs-wave-hb.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
            </video>
            <h2 class="heading-block text-xl text-white absolute top-8 left-8">Bintan's <br> Favourite <br> Beach Club. </h2> 
        </div>
</section>

<section class="bg-cream min-h-[100vh] flex items-center bg-cover" style="background-image:url('/uploads/palm-trees.jpg')">
        <div class="max-w-screen-lg mx-auto text-center text-blue mb-20" style="background-image: url();">
            <h3 class="sub-heading heading-block text-md">A PLAYGROUND FOR THE CURIOUS</h3>
            <h2 class="text-lg">Sugarbeats is Bintan’s best beach club, a spot to eat, drink and play and watch the world go past all with a dreamy ocean backdrop. </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>  
</section>


<section class="bg-blue text-cream py-[20%]">
        <div class="max-w-screen-xl mx-auto grid grid-cols-12">
            <div class="col-span-5 row-span-3 relative" style="grid-column-start: 1;
  grid-row-start: 1;">
                <img src="/uploads/dive.png" alt="">
                <div class="absolute w-[50%] -right-[5%] -bottom-[15%]">
                    <img src="/uploads/dive.png" alt="">
                </div>
            </div>
            <div class="col-span-2">
                {% include day.html %}
            </div>
            <div class="col-span-4">
                {% include dreaming.html %}
            </div>
            <!-- spacer -->
             <div class="col-span-1"></div>

             <div class=" col-start-7 col-span-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p><a href="/book" class="button-rounded border-cream">Book your day pass</a></p>
             </div>
        </div>  
</section>

<section class="bg-blue text-cream">
        <div class="max-w-screen-xl mx-auto grid grid-cols-12">
            <div class="col-span-5">
                <div class="text-left">
                    {% include summer.html %}
                </div>
                <div class="text-right">
                    {% include nights.html %}
                </div>
            </div>
            <div class="col-start-7 col-span-6 row-span-2">
                <!-- temp aspec div reomve once correct image added -->
                 <div class="relative" style="aspect-ratio: 676/515;">
                    <img src="/uploads/dive.png" class="absolute w-full h-full inset-0" alt="">
                 </div>
            </div>
            <div class="col-span-4 col-start-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p><a href="/" class="button uppercase">come for dinner</a></p>
            </div>
        </div>  
</section>
<!-- temp bg -->
<section class="p-0 relative">
        <img class="w-full" src="/uploads/island-life.svg" alt=""> 
        <div class="absolute h-full w-full inset-0 flex justify-center items-center">
            <img src="/uploads/dive.png" alt="">
        </div>
</section>
<section class="bg-cream text-rust">
    <div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-16">
        <div class="col-span-full text-center">
            <img src="/uploads/2-tree-plus-sunset.png" alt="">
        </div>
        <div>
            <h3 class="text-xl">Ocean Kitchen</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure quas ipsa! Deserunt aperiam sapiente animi quos quibusdam quae in ullam doloremque. Perferendis doloribus inventore et nemo debitis laboriosam numquam.</p>
            <p><a href="/">SEE MENU {% include orange-arrow.html %}</a></p>
            <div class="aspect-square carousels relative">
                <img class="main-image h-full w-full inset-0 absolute" src="/uploads/food-1.png" alt="">
                <div class="carosel-alt-images absolute left-[100vw]">
                    {% for image in page.carousel-1 %}
                    <img src="{{image.image}}" alt="{{image.alt}}">
                    {% endfor %}
                </div>
            </div>
        </div>
                <div>
            <h3 class="text-xl">Stix</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure quas ipsa! Deserunt aperiam sapiente animi quos quibusdam quae in ullam doloremque. Perferendis doloribus inventore et nemo debitis laboriosam numquam.</p>
            <p><a href="/">SEE MENU {% include orange-arrow.html %}</a></p>
            <div class="aspect-square carousels relative">
                <img class="main-image h-full w-full inset-0 absolute" src="/uploads/food-1.png" alt="">
                <div class="carosel-alt-images absolute left-[100vw]">
                    {% for image in page.carousel-2 %}
                    <img src="{{image.image}}" alt="{{image.alt}}">
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>  
</section>
<section class="bg-cover bg-center" style="background-image: url(/uploads/walking-on-the-beach-banner.png);">
        <div class="max-w-screen-xl mx-auto min-h-screen flex justify-center items-center">
            <div>
                {% include the-start-of-forever.html %}
                <p>
                    <a href="" class="button button-no-radius bg-cream text-blue">
                        PLAN YOUR BEACH WEDDING
                    </a>
                </p>

            </div>

        </div>  
</section>


<section class="bg-blue text-cream">
    <div class="max-w-screen-xl mx-auto">
        <div class="flex justify-between items-center">
            <h2 class="text-lg">sleep</h2>
            <p><a href="/temp" class="sub-heading">sleep a little longer</a></p>
        </div>
        <div class="flex flex-nowrap overflow-x-scroll gap-8">
            {% for item in page.sleep-grid %}
            <div class="rounded-3xl overflow-hidden bg-cream text-blue">
                <div class="relative overflow-hidden aspect-square round-t-3xl">
                    <img src="{{item.image}}" alt="{{image.alt}}">
                </div>
                <div class="p-4">
                    <h3 style="font-size: .5rem;">
                        {{item.sub-heading}}
                    </h3>
                    <h3 class="text-md">{{item.heading}}</h3>
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  
</section>  