---
layout: default
title: Homepage
carousel-1:
    - image: /uploads/ocean-kitchen-1.jpg
      alt: Ocean Kitchen Bintan
    - image: /uploads/ocean-kitchen-2.jpg
      alt: Ocean Kitchen Bintan
    - image: /uploads/ocean-kitchen-3.jpg
      alt: Ocean Kitchen Bintan
    - image: /uploads/ocean-kitchen-4.jpg
      alt: Ocean Kitchen Bintan
    - image: /uploads/ocean-kitchen-5.jpg
      alt: Ocean Kitchen Bintan
carousel-2:
    -   image: /uploads/stix-1.jpg
        alt: Stix at Sugarbeats Bintan
    -   image: /uploads/stix-2.jpg
        alt: Stix at Sugarbeats Bintan
    -   image: /uploads/stix-3.jpg
        alt: Stix at Sugarbeats Bintan
    -   image: /uploads/stix-4.jpg
        alt: Stix at Sugarbeats Bintan
sleep-grid:
    -   heading: Ocean View Suite
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/indigo-suite-1.jpg
        description: A spacious room with space to stunning ocean views and private bathroom.
        url: https://www.ihg.com/hotelindigo/hotels/id/in/bintan/bnibb/hoteldetail
    -   heading: One Bedroom Suite
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/indigo-suite-2.jpg
        description: More room to spread out, a cosy bathtub to soak in and spacious living area.
        url: https://www.ihg.com/hotelindigo/hotels/id/in/bintan/bnibb/hoteldetail
    -   heading: Private Pool Villa
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/indigo-suite-3.jpg
        description: For days when you don't want to share, this villa comes with your own private pool.
        url: https://www.ihg.com/hotelindigo/hotels/id/in/bintan/bnibb/hoteldetail
    -   heading: Pool View Room
        sub-heading: HOLIDAY INN
        image: /uploads/holiday-inn-1.jpg
        description: A  cosy, affordable room with private bathroom and balcony overlooking the pool.
        url: https://www.ihg.com/holidayinnresorts/hotels/id/in/bintan/bnibl/hoteldetail

---


<section class="bg-blue">
        <div class="max-w-screen-xl mx-auto relative">
            <video autoplay muted loop>
                <source src="test-50k-kbs-wave-hb.mp4" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
            </video>
            <h2 class="heading-block text-xl text-white absolute top-8 left-8">Bintan's <br> Favourite <br> Beach Club. </h2> 
        </div>
</section>

<section class="bg-cream min-h-[100vh] flex items-center bg-cover bg-center" style="background-image:url('/uploads/palm-trees.jpg')">
        <div class="max-w-screen-lg mx-auto text-center text-blue mb-20" style="background-image: url();">
            <h3 class="sub-heading heading-block text-sm">AN OCEANFRONT BEACH CLUB IN BINTAN</h3>
            <h2 class="text-lg">Sugarbeats is Bintan’s best beach club, a spot to eat, drink and play and watch the world go past all with a dreamy ocean backdrop. </h2>
            <p>Set on one of Bintan’s most stunning stretches of beach, SugarBeats blends ocean views, curated music, and elevated dining into one unforgettable experience. By day, unwind by the water. By night, let the music move you. </p>
        </div>  
</section>


<section class="bg-blue text-cream md:py-[20%]">
        <div class="max-w-screen-xl mx-auto md:grid md:grid-cols-12">

            <div class="col-span-7 px-8 md:order-2">
                {% include day-dreaming.html %}
            </div>
            
            <div class=" col-start-7 col-span-4 md:order-3 mb-8">
                <p>SugarBeats is your barefoot escape on Bintan’s coast. Think lazy afternoons with a cold drink in hand, fresh bites straight from the kitchen, and live beats rolling in as the sun goes down. Take a dip in our oceanfront swimming pool, pick one of the countless daybeds to lounge on and watch the world go by. </p>
                <p><a href="/book" class="button-rounded border-cream mt-2">Book your day pass</a></p>
             </div>

            <div class="col-span-5 row-span-3 relative md:order-1" style="grid-column-start: 1;
  grid-row-start: 1;">
                <img src="/uploads/day-1.jpg" alt="">
                <div class="hidden md:block absolute w-[50%] right-[5%] md:-right-[5%] bottom-[5%] md:-bottom-[15%]">
                    <img src="/uploads/day-2.jpg" alt="">
                </div>
            </div>


            <!-- spacer -->
             <!-- <div class="col-span-1"></div> -->


        </div>  
</section>

<section class="bg-blue text-cream pb-[20%]">
        <div class="max-w-screen-xl mx-auto md:grid grid-cols-12">
            <div class="col-span-5">
                <div class="text-left">
                    {% include summer-nights.html %}
                </div>
            </div>
            <div class="col-span-4 col-start-2 md:order-3 mb-8">
                <p>In the evenings Sugarbeats comes alive, watch the sunset over the ocean and then listen to the beats, with live music every weekend and a curated playlist all week. Try one of our curated cocktails, and enjoy one of the best meals you’ll have in Bintan. </p>
                <p><a href="/" class="button uppercase mt-2">come for dinner</a></p>
            </div>
            <div class="col-start-7 col-span-6 row-span-2">
                <!-- temp aspec div reomve once correct image added -->
                 <div class="relative" style="aspect-ratio: 676/515;">
                    <img src="/uploads/night-.jpg" class="absolute w-full h-full inset-0" alt="">
                 </div>
            </div>

        </div>  
</section>
<!-- temp bg -->
<section class="p-0 relative">
        <img class="w-full" src="/uploads/island-life.svg" alt=""> 
        <div class="absolute h-full w-full inset-0 flex justify-center items-center">
            <img src="/uploads/beach.jpg" class="max-w-[40%]">
        </div>
</section>
<section class="bg-cream text-rust">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 gap-16">
        <div class="col-span-full text-center">
            <img src="/uploads/squiggles.png" alt="">
        </div>
        <div>
            <h3 class="text-xl">Ocean Kitchen</h3>
            <p>Fresh from the sea, straight to your plate. Ocean Kitchen celebrates Bintan’s coastal bounty with dishes that spotlight the day’s catch and the flavors of the island. Whether it’s grilled seafood by the beach or inventive takes on Indonesian classics, we've got something for everyone.</p>
            <p><a href="https://drive.google.com/file/d/1j9xXJ5WShK1opZct-OwEFRaov0XUAYmn/view?usp=drive_link" target="_blank">SEE MENU {% include orange-arrow.html %}</a></p>
            <div class="aspect-square carousels relative">
                <img class="main-image h-full w-full inset-0 absolute object-cover" src="/uploads/ocean-kitchen-1.jpg" alt="">
                <div class="carosel-alt-images absolute left-[100vw]">
                    {% for image in page.carousel-1 %}
                    <img src="{{image.image}}" alt="{{image.alt}}">
                    {% endfor %}
                </div>
            </div>
        </div>
                <div>
            <h3 class="text-xl">Stix</h3>
            <p>Stix, a 16-seat restaurant & bar where we take the beloved Indonesian satay and infuse it with a modern twist. Using the freshest locally sourced ingredients and traditional techniques we honor the island’s rich culinary heritage while taking inspiration from global cuisine. </p>
            <p><a href="https://drive.google.com/file/d/1NV44w8rZkJ3kbD2vvCHTFGUKabOMcal9/view?usp=drive_link" target="_blank">SEE MENU {% include orange-arrow.html %}</a></p>
            <div class="aspect-square carousels relative">
                <img class="main-image h-full w-full inset-0 absolute object-cover" src="/uploads/stix-1.jpg" alt="">
                <div class="carosel-alt-images absolute left-[100vw]">
                    {% for image in page.carousel-2 %}
                    <img src="{{image.image}}" alt="{{image.alt}}">
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>  
</section>
<section class="bg-cover bg-center " style="background-image: url(/uploads/wedding-1.jpg);">
        <div class="max-w-screen-xl mx-auto min-h-[80vh] flex justify-center items-center">
            <div>
                {% include the-start-of-forever.html %}
                <p>
                    <a href="/weddings-and-events.html" class="button button-solid bg-cream text-blue border-cream">
                        PLAN YOUR BEACH WEDDING
                    </a>
                </p>

            </div>

        </div>  
</section>


<section class="bg-blue text-cream px-0">
    <div class="max-w-screen-xl mx-auto p-[5%]">
        <div class="flex justify-between items-center">
            <h2 class="text-lg heading-caps">sleep</h2>
            <p><a href="/temp" class="sub-heading">stay a little longer</a></p>
        </div>
    </div>
    <div>
        <div class="flex flex-nowrap overflow-x-scroll gap-8 px-[var(--side-gap)]">
            {% for item in page.sleep-grid %}
            <a href="{{item.url}}" class="rounded-3xl overflow-hidden bg-cream text-blue shrink-0 w-4/5 md:w-1/4">
                <div class="relative overflow-hidden aspect-square round-t-3xl">
                    <img src="{{item.image}}" alt="{{image.alt}}">
                </div>
                <div class="p-4">
                    <h3 class="sub-heading text-tiny">
                        {{item.sub-heading}}
                    </h3>
                    <h3 class="text-md">{{item.heading}}</h3>
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>  
</section>  