---
layout: default
title: Homepage
sticky-scroll-section:
    -   image: /uploads/marathon-indigo-1.jpg
        alt: 
    -   image: /uploads/marathon-indigo-2.jpg
        alt: 
    -   image: /uploads/marathon-indigo-3.jpg
        alt: 
    -   image: /uploads/marathon-indigo-4.jpg
        alt: 
    -   image: /uploads/marathon-indigo-5.jpg
        alt: 
sleep-grid:
    -   heading: Ocean View Suite
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/indigo-suite-1.jpg
        description: A spacious room with space to stunning ocean views and private bathroom.
        url: https://www.ihg.com/hotelindigo/hotels/id/in/bintan/bnibb/hoteldetail
    -   heading: One Bedroom Suite
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/indigo-suite-2.jpg
        description: More room to spread out, a cosy bathtub to soak in and spacious living area.
        url: https://www.ihg.com/hotelindigo/hotels/id/in/bintan/bnibb/hoteldetail
    -   heading: Private Pool Villa
        sub-heading: HOTEL INDIGO BINTAN
        image: /uploads/indigo-suite-3.jpg
        description: For days when you don't want to share, this villa comes with your own private pool.
        url: https://www.ihg.com/hotelindigo/hotels/id/in/bintan/bnibb/hoteldetail
    -   heading: Pool View Room
        sub-heading: HOLIDAY INN
        image: /uploads/holiday-inn-1.jpg
        description: A  cosy, affordable room with private bathroom and balcony overlooking the pool.
        url: https://www.ihg.com/holidayinnresorts/hotels/id/in/bintan/bnibl/hoteldetail

---



<section class="bg-cream bg-repeat-x bg-bottom pb-[10rem]" style="background-image: url('/uploads/Home-1.jpg');background-size: cover;">
        <div class="max-w-screen-lg mx-auto pt-[10%] pb-[25%] px-[5%] text-center text-blue" style="">
            <h3 class="sub-heading"> BINTAN MARATHON  9 - 11 NOV 2025</h3>
            <h2 class="text-md md:text-lg">Join in the fun and get away for the weekend to a tropical island escape, running through pristine jungle & mangroves.</h2>
            <p>Experience the scenic beauty of Bintan on clean, flat roads, free from  vehicles and filled with fresh air—perfect for a peaceful and energizing run. And then celebrated your race at the Runners Recharge Lounge at Sugarbeats. </p>
        </div>  
</section>


<section class="bg-blue text-cream">
        <div class="max-w-screen-sm lg:max-w-screen-xl mx-auto lg:grid grid-cols-12">
            <div class="col-span-5 row-span-3 relative hidden lg:block" style="grid-column-start: 1;
  grid-row-start: 1;">
                <img src="/uploads/marathon-1.jpg" alt="">
                <div class="absolute w-[50%] -right-[5%] -bottom-[15%] hidden md:block">
                    <img src="/uploads/marathon-3.jpg" alt="">
                </div>
            </div>
            <div class="col-span-5">
                {% include join-the-race.html %}
            </div>
            <div class="col-span-4" style="grid-column-start: 8;
  position: relative;
  top: -8rem;">
                {% include weekend.html %}
            </div>
            <!-- spacer -->
             <div class="col-span-1"></div>

             <div class=" col-start-7 col-span-4">
                <p>Mandiri Bintan Marathon,  happening on November 8–9, 2025,  will welcome up to 5,000 runners to one of the world’s most beautiful races. From a 3km fun run to a full marathon, there is something for everyone as you run through ancient forests and around stunning lakes. </p>
                <p><a href="https://bintan-marathon.com" target="_blank" class="button-rounded border-cream">Book your race tickets</a></p>
             </div>
        </div>  
</section>

<section class="bg-blue text-cream">
        <div class="max-w-screen-xl mx-auto lg:grid grid-cols-12">
            <div class="col-start-7 col-span-6 row-span-2 lg:order-2 mb-12">
                <!-- temp aspec div reomve once correct image added -->
                 <div class="relative" style="aspect-ratio: 676/515;">
                    <img src="/uploads/marathon-2.jpg" class="absolute w-full h-full inset-0" alt="">
                 </div>
            </div>
            <div class="col-span-5">
                <div class="text-center lg:text-right" >
                    {% include recovery.html %}
                </div>
            </div>
            <div class="col-span-4 col-start-2">
                <p>After the race, head to the recovery lounge at Sugarbeats on Lagoi Beach where you’ll find complimentary foot massage station & celebratory drinks (for all runners who completed a race).  Listen to the beats of our live music, watch the sunset over the ocean and celebrate your race. 
</p>
                <p><a href="/" class="button-rounded uppercase">RSVP FOR THE RECOVERY LOUNGE</a></p>
            </div>
        </div>  
</section>





<section class="bg-yellow text-white p-[min(20vw,_20vh)]">
        <div class="max-w-screen-s mx-auto">
            <h2 class="text-lg md:text-2xl z-20 text-center mx-auto" style="max-width: 46rem;">A WEEKEND AWAY</h2>
            <div class="aspect-square relative overflow-hidden mx-auto" style="max-width: 700px;">
                <video class="absolute top-0 left-0 h-full w-full object-cover z-10" autoplay muted loop>
                    <source src="/test-50k-kbs-wave-hb.mp4" type="video/mp4">
                </video>

            </div>
            <h3 class="text-xl text-center">
                AT HOTEL INDIGO BINTAN
            </h3>

        </div>
</section>

<section class="bg-cream text-blue border-blue border-2 p-4">
    <div class="md:grid grid-cols-5 gap-8">

        <div class="col-span-3">
            <div class="md:min-h-screen p-8 sticky top-0 flex flex-col justify-between gap-8">
                <div class="text-right">
                    <h3 class="sub-heading text-base">BINTAN LAGOI BEACH</h3>
                </div>
                
                <div class="relative">
                    <!-- <img src="/uploads/Brand Illustration_G&E_Sparkler_Pol_Indigo.png" alt="sparkler" class="right-0 absolute -top-[-5vh]"> -->
                </div>

                <div class="lg:w-2/3">
                    <h2 class="text-xl">Hotel Indigo</h2>
                    <P>The perfect spot to stay for the Marathon weekend, with luxurious comfortable rooms, an on-site gym to warm up and stretch, multiple onsite restaurants and a complimentary breakfast buffet. Stay at Hotel Indigo and receive complimentary shuttle to the start line for all races. </P>
                    <P>
                    <a href="" class="button-rounded">Talk to the team</a>
                    <a href="" class="button-rounded">book now</a>
                </P>
                </div>
                
            </div>
        </div>
        <div class="col-span-2 gap-4 order-1 overflow-x-scroll flex flex-nowrap md:grid">
            {% for image in page.sticky-scroll-section %}
                    <img class="h-[30vh] w-auto md:h-auto max-w-[inital] md:w-full shrink-0" src="{{image.image}}" alt="image.alt">
            {% endfor %}
        </div>
    </div>
</section>



<section class="bg-blue text-cream px-0">
    <div class="p-[5%]">
        <div class="mx-auto max-w-screen-xl">
            <div class="flex justify-between items-center">
                <h2 class="text-lg heading-caps">sleep</h2>
                <p><a href="/temp" class="sub-heading">stay a little longer</a></p>
            </div>
        </div>
    </div>




        <div class="flex flex-nowrap overflow-x-scroll gap-8 px-[var(--side-gap)]">
            {% for item in page.sleep-grid %}
            <a href="{{item.url}}" class="rounded-3xl overflow-hidden bg-cream text-blue shrink-0 w-4/5 md:w-1/4">
                <div class="relative overflow-hidden aspect-square round-t-3xl">
                    <img src="{{item.image}}" alt="{{image.alt}}">
                </div>
                <div class="p-4">
                    <h3 class="sub-heading text-tiny">
                        {{item.sub-heading}}
                    </h3>
                    <h3 class="text-md">{{item.heading}}</h3>
                    <p>
                        {{item.description}}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>  
</section>  

<section class="bg-yellow text-blue">
    <div class="max-w-screen-xl mx-auto lg:grid grid-cols-2 gap-12">
        <div class="col-span-full text-center">
            <h2 class="text-lg md:text-2xl heading-caps max-w-screen-md mx-auto mb-16">BINTAN MARATHON EVENT DETAILS</h2>
        </div>
        <div>
            
            <h3 class="sub-heading uppercase">
                Key EVENT SCHEDULE
            </h3>
            <p class="font-bold">
                Saturday 8th Nov
            </p>
            <p><span class="font-bolder">10 am - 8pm </span>Race Pack Collection for all Categories</p>
            <p><span class="font-bolder">4:15pm </span>Fun Run Flag Off </p>
            <p class="mb-8"><span class="font-bolder">4:30pm </span>3K Family Kids Run Flag Off</p>

            <p class="font-bold">Saturday 8th Nov</p>
            <p><span class="font-bolder">04:45 AM </span>Full Marathon Flag off</p>
            <p><span class="font-bolder">05:15 AM </span>Half Marathon  Flag Off</p>
            <p><span class="font-bolder">05:45 AM </span>10km Run Flag Off</p>
            <p><span class="font-bolder">08:45 AM </span>Prize Presentation & Festivity</p>
            <p><span class="font-bolder">4 PM onwards </span>Runners Recharge Lounge at Sugarbeats </p>

            <h3 class="sub-heading">
                Runners Recharge Lounge
            </h3>
            <p>
                To celebrate the Bintan Marathon, we’re opening Sugarbeats up to the community with a runners recharge lounge - join us anytime from 4pm with complimentary foot massage station & celebratory drinks (for all runners who completed a race) and happy hour drinks for their supports & friends. 
            </p>
            <p>
                Stay all night and enjoy live music and celebrate your run at the unofficial after party of the Marathon. 
            </p>    
        </div>
            
        <div>
             <video controls poster="https://bintan-marathon.com/wp-content/uploads/2024/11/Mandiri-Bintan-Marathon-2024-7-scaled.jpg">
                <source src="https://bintan-marathon.com/wp-content/uploads/2025/03/FA_AFTERMOVIE_MBM-2024-1.mov" type="video/quicktime" />
            </video> -

            <h3 class="sub-heading">
                Supporting the Clean Ocean Program 
            </h3>
            <p class="mb-8">
                This year’s  theme, “Run and Discover: Clean Oceans”, invites participants to take  meaningful steps toward protecting our marine environment. To support this cause, a portion of each registration fee will go directly to ocean conservation efforts, including beach cleanups and marine  education in Bintan. 
            </p>

            <!-- <img src="uploads/marathon-indigo-5.jpg" alt="marathon race"> -->
        </div>

    </div>
</section>