---
layout: default
title: Homepage
sticky-scroll-section-ocean-kitchen:
    -   image: /uploads/ocean-kitchen-1.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-2.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-3.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-gallery-2.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-5.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-gallery-7.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-gallery-5.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-gallery-8.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-gallery-3.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
    -   image: /uploads/ocean-kitchen-gallery-4.jpg
        alt: Ocean Kitchen at SugarBEATS in Bintan
sticky-scroll-section-Tiki:
    -   image: /uploads/tiki-bar-gallery-1.jpg
        alt: Tiki Bar at SugarBEATS in Bintan
    -   image: /uploads/tiki-bar-gallery-5.jpg
        alt: Tiki Bar at SugarBEATS in Bintan
    -   image: /uploads/marathon-indigo-1.jpg
        alt: Tiki Bar at SugarBEATS in Bintan
    -   image: /uploads/tiki-bar-gallery-3.jpg
        alt: Tiki Bar at SugarBEATS in Bintan
    -   image: /uploads/tiki-bar-gallery-4.jpg
        alt: Tiki Bar at SugarBEATS in Bintan
    -   image: /uploads/tiki-bar-gallery-2.jpg
        alt: Tiki Bar at SugarBEATS in Bintan


sticky-scroll-section-Stix:
    -   image: /uploads/stix-1.jpg
        alt: STIX satay bar restaurant at SugarBEATS in Bintan
    -   image: /uploads/stix-2.jpg
        alt: STIX satay bar restaurant at SugarBEATS in Bintan
    -   image: /uploads/stix-3.jpg
        alt: STIX satay bar restaurant at SugarBEATS in Bintan
    -   image: /uploads/stix-4.jpg
        alt: STIX satay bar restaurant at SugarBEATS in Bintan
---

<section class="bg-blue text-white py-[210px] bg-bottom bg-repeat-x" style="background-image: url('/uploads/glass.svg');">
        <div class="max-w-screen-md mx-auto relative text-center">
            <h3 class="sub-heading">DINING AT SUGARBEATS</h3>
            {% include spoilt-for-choice.html %}
            <p>With three onsite restaurants you’ll be spoilt for choice. Try Ocean Kitchen for all-day island-inspired meals, The Tiki Bar for tropical sips and laid-back vibes, and Stix Satay Bar for flame-grilled skewers with bold Asian flavours. </p>
        </div>
</section>

<section class="bg-cream text-blue border-blue border-2 p-4">
    <div class="md:grid grid-cols-5 gap-8">
        <div class="col-span-2 gap-4 overflow-x-scroll flex flex-nowrap md:grid">
            {% for image in page.sticky-scroll-section-ocean-kitchen %}
                    <img class="h-[30vh] w-auto md:h-auto max-w-[inital] md:w-full shrink-0" src="{{image.image}}" alt="image.alt">
            {% endfor %}
        </div>
         <div class="col-span-3">
            <div class="md:min-h-[90vh] p-8 sticky top-0 flex flex-col justify-between gap-8">
                <div class="text-left">
                    <h3 class="sub-heading text-base text-right"> ALL DAY DINING </h3>
                </div>
                <!-- <div>
                    <img src="/uploads/Brand Illustration_F&B_Wine Bottle Half_IHG_Indigo.svg" alt="wind bottle">
                </div> -->
                
                <div class="lg:w-2/3">
                    <h2 class="text-lg">Ocean Kitchen</h2>
                    <p>
                        Fresh from the sea, straight to your plate. Ocean Kitchen celebrates Bintan’s coastal bounty with dishes that spotlight the day’s catch and the flavors of the island. Whether it’s grilled seafood by the beach or inventive takes on Indonesian classics, every meal here is a nod to the fishermen and flavors that make Bintan unique.
                    </p>
                    <p>
                        <a href="/menus/ocean-kitchen-lunch.pdf" target="_blank" class="button-rounded mt-2">SEE MENU</a> <a href="https://wa.me/6285364947066" class="button-rounded mt-2">MAKE A RESERVATION</a>
                    </P>
                </div>
                
            </div>
        </div>
    </div>
</section>


<section class="bg-cream text-blue border-blue border-2 p-4">
    <div class="md:grid grid-cols-5 gap-8">

         <div class="col-span-3">
            <div class="md:min-h-[90vh] p-8 sticky top-0 flex flex-col justify-between gap-8">
                <div class="text-left">
                    <h3 class="sub-heading text-base text-right"> Cocktails & Craft Infusions </h3>
                </div>
                <!-- <div>
                    <img src="/uploads/Brand Illustration_F&B_Wine Bottle Half_IHG_Indigo.svg" alt="wind bottle">
                </div> -->
                
                <div class="lg:w-2/3">
                    <h2 class="text-lg">Tiki Bar</h2>
                    <p>
                        Step into our iconic Tiki Bar and savor cocktails that embody the island's vibrant tropical flavours. Amidst bamboo and wooden architecture, enjoy neighbourhood inspired cocktails expertly crafted by mixologist Wirasada, hailing from Bali, that pay homage to the island's people and farmers.
                    </p>
                    <p>
                        <a href="/menus/tiki-bar.pdf" target="_blank" class="button-rounded mt-2">SEE MENU</a> <a href="https://wa.me/6285364947066" class="button-rounded mt-2">MAKE A RESERVATION</a>
                    </P>
                </div>
                
            </div>
        </div>
                <div class="col-span-2 gap-4 overflow-x-scroll flex flex-nowrap md:grid">
            {% for image in page.sticky-scroll-section-Tiki %}
                    <img class="h-[30vh] w-auto md:h-auto max-w-[inital] md:w-full shrink-0" src="{{image.image}}" alt="image.alt">
            {% endfor %}
        </div>
    </div>
</section>


<section class="bg-yellow text-white p-[min(20vw,_20vh)]">
        <div class="max-w-screen-sm mx-auto">
            <h2 class="relative -mt-12 -bottom-8 md:-bottom-12 -ml-4 -mr-4 text-[2.5rem] sm:text-lg md:text-2xl z-20 text-center mx-auto" style="max-width: 46rem;">A modern spin on traditional satay</h2>
            <div class="aspect-square relative overflow-hidden">
                <video class="absolute top-0 left-0 h-full w-full object-cover z-10" autoplay muted loop playsinline>
                    <source src="/uploads/stix.mp4" type="video/mp4">
                </video>
            </div>
        </div>
</section>


<section class="bg-cream text-rust border-rust border-2 p-4">
    <div class="md:grid grid-cols-5 gap-8">
        <div class="col-span-3">
            <div class="md:min-h-screen p-8 sticky top-0 flex flex-col justify-between gap-8">
                <div class="text-left">
                    <h3 class="sub-heading text-base text-right">SATAY BAR</h3>
                </div>
                <!-- <div>
                    <img src="/uploads/Brand Illustration_F&B_Wine Bottle Half_IHG_Indigo.svg" alt="wind bottle">
                </div> -->
                
                <div class="lg:w-2/3">
                    <h2 class="text-lg heading-caps">STIX</h2>
                    <p>
                        Stix, a 16-seat restaurant & bar where we take the beloved Indonesian satay and infuse it with a modern twist. Using the freshest locally sourced ingredients and traditional techniques we honor the island’s rich culinary heritage while taking inspiration from global cuisine. 

                    </p>
                    <p>
                        <a href="/menus/stix-food-menu.pdf" target="_blank" class="button-rounded mt-2">SEE MENU</a> <a href="https://wa.me/6285364947066" class="button-rounded mt-2">MAKE A RESERVATION</a>
                    </P>
                </div>
                
            </div>
        </div>
        <div class="col-span-2 gap-4 overflow-x-scroll flex flex-nowrap md:grid md:order-1">
            {% for image in page.sticky-scroll-section-Stix %}
                    <img class="h-[30vh] w-auto md:h-auto max-w-[inital] md:w-full shrink-0" src="{{image.image}}" alt="image.alt">
            {% endfor %}
        </div>
    </div>
</section>