/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */


:root {
    --blue: #2F5992;
    --cream: #FEFAEF;
    --yellow: #F6D265;
    --rust: #CC4829;
}

header, footer, section {
    padding: 5%;
    position: relative;
}
/* typography */
body, html{
    font-family: 'ivyepic';
    font-size: 1rem;
    overflow-x: hidden;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
}


h1,h2,h3,h4  {
    margin-bottom: 1rem;
    font-family: 'ivypresto-display';
    font-weight: 200;
    font-size: 1.5rem;
    line-height:1.1;
}

p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

body svg,body img {
    display: inline-block;
    max-width: 100%;
}

.heading-block {
  font-family: 'ivyepic';
  font-weight: 800;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.sub-heading {
    font-family: 'ivyepic';
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform:  uppercase;
    font-size: 1.2rem;
}


.handwriting {
    font-family: Adobe Handwriting
}

.button, 
.button-rounded {
    border: 2px solid;
    padding: .5rem 2rem ;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 600;
    font-size: 0.8rem;
}

.button-rounded {
    padding: .5rem 2rem ;
    border-radius: 2rem;
}

/* burger */


 .burger-button {
  position: relative;
  z-index: 9;
  padding: 1rem 0;
}
/*this is where you can change the color of the buttons */
.burger-button span{
  width: 4rem;
  border: 2px solid var(--blue);
  background-color: var(--blue);
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-button.active span{
  border-color: green;
  background-color:#383;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -02px;
}

.burger-bottom{
  bottom: -02px;
}
/* make sure this has the same top as the burger button has padding*/
.burger-button.active .burger-top{
  position: absolute;
  top: 2rem;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{
/*   transform: rotateZ(270deg); */
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

/* make sure this has the same bottom as the burger button has padding*/

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 2rem;
  transform: rotateZ(-45deg);
}

.burger-menu {
    display: flex;
    position: fixed;
    top: 0vh;
    left:100vw;
    right: -100vw;
    bottom: 0vh;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
  transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
}
.burger-menu.active{
  left:50vw;
  right:0;
}
.burger-menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
