<section class="bg-center bg-cover p-0 relative flex items-center" style="background-image: url(/uploads/wedding.jpg); min-height:{{block.height}}vh;">

            <img src="{{block.text-image}}" class="z-10 mx-auto" />
            <video autoplay muted loop playsinline class="absolute inset-0 top-0 bottom-0 left-0 h-full w-full object-cover">
                <source src="{{block.bg-video}}" type="video/{{block.video-type}}" />
                <!-- <source src="movie.ogg" type="video/ogg"> -->
            </video>
    
            
   
        <!-- </div>   -->
</section>